body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 9999999999999999999999 !important;
}


.clock {
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

#rotating-text {
    font-size: 2rem;
    text-align: center;
    animation: fade-in-out 3s infinite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes fade-in-out {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    transition: width 0.3s ease;
}

.default-color-scroll::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
}

.change-color-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(223, 223, 223);
    border-radius: 3px;
}

.change-color-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #879fba;
}

:not(.scroll-container)::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 3px;
    transition: width 0.3s ease;
}

.default-color-scroll::-webkit-scrollbar-thumb {
    background-color: #ffea00;
    border-radius: 3px;
}

.change-color-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(223, 223, 223);
    border-radius: 3px;
}

.change-color-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #879fba;
}

:not(.scroll-container)::-webkit-scrollbar {
    display: none;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0;
        z-index: 1;
        bottom: 0;
        left: -350px;
        min-width: 350px;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
        transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        -webkit-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        -ms-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(100%);
        -webkit-transform: translateX(100%x);
        -moz-transform: translateX(100%x);
        -ms-transform: translateX(100%x);
        -o-transform: translateX(100%x);
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

.goog-logo-link {
    display: none !important;
}

#google_translate .goog-te-gadget {
    color: transparent !important;
    font-size: 0;
    background: transparent !important;
}

#google_translate {
    margin-left: -10px;
}

#google_translate select {
    background: transparent !important;
    border: 0;
    color: white;
    margin-left: -5px;
}

#google_translate select option {
    border: 1 solid #ffea00 !important;
    color: rgb(255, 255, 255) !important;
    background-color: #232323 !important;
}

#google_translate select option:hover {
    background-color: #f6ff00 !important;
}

.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.jargon {
    background: linear-gradient(45deg, red, orange, yellow, white, green, indigo, violet, yellow, white, green, indigo, violet, orange, yellow, white, green, indigo, violet, yellow, white, red, orange, yellow, white, green, indigo, violet, red, orange, yellow, white, green, indigo, violet, yellow, white, green, indigo, violet, red, orange, yellow, white, green, indigo, violet);
    background-size: 200%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 10s infinite;
    -webkit-animation: gradient 10s infinite;
}

.rainbow-text {
    font-weight: bold;
    font-size: 2rem;
    background: linear-gradient(45deg, red, orange, yellow, white, green, indigo, violet);
    background-size: 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 5s infinite;
}

#typewriter {
    font-size: 1rem;
    color: #6c757d;
    white-space: wrap;
    border-right: 2px solid #6c757d;
    display: inline;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#typewriter {
    animation: blink 0.7s infinite;
}


.custom-input {
    background-color: transparent !important;
    /*Pastikantransparan*/
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #ccc;
    outline: none;
    /*Hilangkanoutline*/
    padding: 5px 0;
    transition: border-color 0.3s ease;
    color: white !important;
}

.custom-input:focus {
    box-shadow: none;
    /* Hilangkan bayangan saat fokus */
    outline: none;
    /* Pastikan tidak ada outline */
    border-bottom: 2px solid #ffe600;
    /* Atur efek garis bawah fokus */
}

.custom-input::placeholder {
    color: #aaa;
    opacity: 1;
}